:root {
  --bg: url(../assets/UN.png);
  --bg-logo: rgba(66, 195, 255, 0);
  --bg-logo-dark: rgb(40, 144, 192);
  --bg-light-100: #ffffff;
  --bg-light-200: #007ab3;
  --bg-light-400: #006999;
  --ff-header: 'Patua One', cursive;
  --ff-body: 'Nunito', sans-serif;
}

.bg-logo {
  background: var(--bg-logo);
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  font-family: var(--ff-header);
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  height: 84.63px;
  width: min(100%, 90rem);
  margin-inline: auto;
}

nav div {
  float: right;
  color: var(--bg-light-100);
}

nav .link-txt {
  padding-top: 1.7rem;
  padding-inline: 1.4rem;
}

nav .nav-title {
  font-weight: 900;
  padding: 0;
  float: left;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

nav img {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  width: 5rem;
  max-width: 100%;
}

h1 {
  font-family: var(--ff-header);
  font-weight: 900;
  line-height: 1;
  letter-spacing: 1px;
}

h2 {
  font-family: var(--ff-header);
  font-weight: 900;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 1em;
}

h3 {
  font-family: var(--ff-header);
  font-weight: 900;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 1em;
}

header {
  padding: 3rem 0;
}

header h1 {
  font-size: 46px;
  letter-spacing: 3.2px;
  color: white;
}

p {
  margin-bottom: 1em;
}

body {
  font-family: var(--ff-body);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.03rem;
}

html {
  background: var(--bg) no-repeat center center fixed;
  background-size: cover;
}

section {
  padding: 3rem 0;
}

section #special {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 5rem;
}

section #special img {
  width: 10rem;
}

.main-container {
  margin-inline: auto;
  width: min(98%, 90rem);
  margin-block: 1rem;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.container {
  margin-inline: auto;
  width: min(90%, 85rem);
  padding: 2em;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.text-center {
  text-align: center;
}

.split {
  margin-inline: auto;
  width: min(100%, 80rem);
}

.split a {
  display: inline-block;
  text-decoration: underline;
  font-weight: 900;
  font-size: 32px;
  color: var(--bg-light-400);
  margin-block: auto;
  height: 100%;
  vertical-align: middle;
  padding-inline: 2rem;
}

.split > * {
  margin-inline: auto;
}

.resoruces {
  bottom: 2rem;
}

@media (min-width: 90rem) {
  .container {
    padding: 4em;
  }
}
/*# sourceMappingURL=style.css.map */