:root {
    --bg-gradient: url(../assets/gradient-2.png);

    --bg-logo: rgba(68, 197, 255);
    --bg-light-100: #ffffff;
    --bg-light-200: #E6F4F1;
    --bg-light-400: #BFD6D9;

    --ff-header: 'Ubuntu', sans-serif;
    --ff-body: 'Oxygen', sans-serif;
}
.bg-logo {
    background: var(--bg-logo);
}
.bg-light-200 {
    background: var(--bg-light-200);
}
.bg-light-400 {
    background: var(--bg-light-400);
}

* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    font-family: var(--ff-header);
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    height: 100%;
    width: min(100%, 70rem);
    margin-inline: auto;
    overflow: hidden;
}
    nav div {
        float: right;
        color: var(--bg-light-100);
        padding-top: 1.7rem;
        padding-inline: 1.4rem;
    }
        nav .nav-title {
            font-weight: 900;
            padding: 0;
            float: left;
        }
            nav img {
                padding-top: 0.5rem;
                width: 5rem;
                max-width: 100%;
            }
h1,
h2,
h3 {
    font-family: var(--ff-header);
    font-weight: 900;
    line-height: 1;
}
h2,
h3,
p {
    margin-bottom: 1em;
}

body {
    font-family: var(--ff-body);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 0.03rem;
}
html {
    background: var(--bg-gradient) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    padding: 3rem 0;
}

section {
    padding: 3rem 0;
}

.container {
    margin-inline: auto;
    width: min(95%, 75rem);
    padding: 2em;

    backdrop-filter: blur(40px);
    background: rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}
    @media (min-width: 80rem) {
        .container {
            padding: 4em;
        }
    }

.text-center{ 
    text-align: center;
}